In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('../data/processed/main_train.csv')

In [3]:
df.head(5)

,Unnamed: 0,case_id,date_decision_x,MONTH_x,WEEK_NUM_x,target_x,amtdebitincoming_4809443A,amtdebitoutgoing_4809440A,amtdepositbalance_4809441A,amtdepositincoming_4809444A,...,maininc_215A,downpmt_116A,avgdbddpdlast24m_3658932P,empl_employedtotal_800L,empl_industry_691L,date_decision,MONTH,WEEK_NUM,target,avgdbddpdlast3m_4187120P
0,0,0,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,MORE_FIVE,OTHER,2019-01-03,201901,0,0,NaN
1,1,1,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,MORE_FIVE,OTHER,2019-01-03,201901,0,0,NaN
2,2,2,2019-01-04,201901,0,0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,MORE_FIVE,OTHER,2019-01-04,201901,0,0,NaN
3,3,3,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,MORE_FIVE,OTHER,2019-01-03,201901,0,0,NaN
4,4,4,2019-01-04,201901,0,1,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,MORE_FIVE,OTHER,2019-01-04,201901,0,1,NaN