In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('../data/processed/main_train.csv')

In [4]:
df

,Unnamed: 0,case_id,date_decision_x,MONTH_x,WEEK_NUM_x,target_x,amtdebitincoming_4809443A,amtdebitoutgoing_4809440A,amtdepositbalance_4809441A,amtdepositincoming_4809444A,...,maininc_215A,downpmt_116A,avgdbddpdlast24m_3658932P,empl_employedtotal_800L,empl_industry_691L,date_decision,MONTH,WEEK_NUM,target,avgdbddpdlast3m_4187120P
0,0,0,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,MORE_FIVE,OTHER,2019-01-03,201901,0,0,NaN
1,1,1,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,MORE_FIVE,OTHER,2019-01-03,201901,0,0,NaN
2,2,2,2019-01-04,201901,0,0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,MORE_FIVE,OTHER,2019-01-04,201901,0,0,NaN
3,3,3,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,MORE_FIVE,OTHER,2019-01-03,201901,0,0,NaN
4,4,4,2019-01-04,201901,0,1,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,MORE_FIVE,OTHER,2019-01-04,201901,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526654,1526654,2703450,2020-10-05,202010,91,0,0.0,0.0,0.0,0.0,...,36000.0,0.0,-23.0,NaN,NaN,2020-10-05,202010,91,0,-43.0
1526655,1526655,2703451,2020-10-05,202010,91,0,27500.0,27477.6,0.0,0.0,...,NaN,0.0,-18.0,NaN,NaN,2020-10-05,202010,91,0,-12.0
1526656,1526656,2703452,2020-10-05,202010,91,0,NaN,NaN,NaN,NaN,...,24000.0,0.0,-12.0,NaN,NaN,2020-10-05,202010,91,0,NaN
1526657,1526657,2703453,2020-10-05,202010,91,0,13454.0,13333.4,822.0,0.0,...,NaN,0.0,-33.0,NaN,NaN,2020-10-05,202010,91,0,-64.0
1526658,1526658,2703454,2020-10-05,202010,91,0,NaN,NaN,NaN,NaN,...,24000.0,0.0,-6.0,NaN,NaN,2020-10-05,202010,91,0,-5.0