In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("/Users/carlosm/Documents/GitHubTKH/credit-risk-model/credit-risk-model-stability/Data/feature_definitions.csv")

In [6]:
df.head()

                  Variable                                        Description
0           actualdpd_943P  Days Past Due (DPD) of previous contract (actu...
1  actualdpdtolerance_344P                      DPD of client with tolerance.
2     addres_district_368M                  District of the person's address.
3         addres_role_871L                          Role of person's address.
4          addres_zip_823M                           Zip code of the address.

In [14]:
filtered_df = df[df["Description"].str.contains("income" or "credit")]

filtered_df

,Variable,Description
43,byoccupationinc_3656910L,Applicant's income from previous applications.
76,commnoinclast6m_3546845L,Number of communications indicating low income...
205,incometype_1044T,Type of income of the person
238,lastotherinc_902A,Amount of other income reported by the client ...
251,maininc_215A,Client's primary income amount.
252,mainoccupationinc_384A,Amount of the main income of the client.
253,mainoccupationinc_437A,Client's main income amount in their previous ...