In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('../data/processed/cleaned_sampled_df.csv')

In [3]:
df.head(5)

,case_id,annuity_780A,cntincpaycont9m_3716944L,cntpmts24_3658933L,maininc_215A,downpmt_116A,avgdbddpdlast24m_3658932P,empl_employedtotal_800L,date_decision,MONTH,WEEK_NUM,target,avgdbddpdlast3m_4187120P
0,1916357,6747.2000,0.0,0.0,28000.0,0.0,-5.0,Missing,2020-09-03,202009,87,0,NaN
1,982288,2206.6000,NaN,10.0,40000.0,3000.0,-5.0,Missing,2020-05-13,202005,71,0,NaN
2,1919445,3342.4001,3.0,15.0,56000.0,0.0,-5.0,Missing,2020-09-05,202009,87,0,NaN
3,1471876,3141.4001,9.0,12.0,20000.0,0.0,-6.0,Missing,2019-08-02,201908,30,0,-3.0
4,255991,6327.6000,16.0,14.0,40000.0,0.0,-8.0,Missing,2020-09-22,202009,90,0,-12.0

In [4]:
df.shape

(50000, 13)

Based on our EDA, We would want to drop the following columns "cntincpaycont9m_3716944L, avgdbddpdlast3m_4187120P and also Unnamed: 0" This should help to train our machine learning model in the next stage.

In [5]:
new_df = df.drop(columns= ['cntincpaycont9m_3716944L', 'avgdbddpdlast3m_4187120P'], axis = 1)

In [6]:
new_df.head(5)

,case_id,annuity_780A,cntpmts24_3658933L,maininc_215A,downpmt_116A,avgdbddpdlast24m_3658932P,empl_employedtotal_800L,date_decision,MONTH,WEEK_NUM,target
0,1916357,6747.2000,0.0,28000.0,0.0,-5.0,Missing,2020-09-03,202009,87,0
1,982288,2206.6000,10.0,40000.0,3000.0,-5.0,Missing,2020-05-13,202005,71,0
2,1919445,3342.4001,15.0,56000.0,0.0,-5.0,Missing,2020-09-05,202009,87,0
3,1471876,3141.4001,12.0,20000.0,0.0,-6.0,Missing,2019-08-02,201908,30,0
4,255991,6327.6000,14.0,40000.0,0.0,-8.0,Missing,2020-09-22,202009,90,0

In [7]:
new_df.shape

(50000, 11)

In [8]:
new_df.isna().sum()

case_id                      0
annuity_780A                 0
cntpmts24_3658933L           0
maininc_215A                 0
downpmt_116A                 0
avgdbddpdlast24m_3658932P    0
empl_employedtotal_800L      0
date_decision                0
MONTH                        0
WEEK_NUM                     0
target                       0
dtype: int64

We have decided that we would be dropping the columns "date_decision, MONTH, case_id and WEEK_NUM" this is because this was originally provided to us as part of our train base. We don't think those columns are relevant for our machine learning model to try to predict on. Just having the target column is more than enough. We don't need the date, month and week of when the decision was made on whether someone defaulted or not.

Additionally, we will also be dropping the "case_id" because it is a unique identifier that may cause our machine learning model to overfit to our data and would not be relevant towards helping us make our predictions.

In [9]:
new_df.drop(columns= ['date_decision', 'MONTH', 'case_id', 'WEEK_NUM'], axis = 1, inplace = True)

In [10]:
new_df.head(5)

,annuity_780A,cntpmts24_3658933L,maininc_215A,downpmt_116A,avgdbddpdlast24m_3658932P,empl_employedtotal_800L,target
0,6747.2000,0.0,28000.0,0.0,-5.0,Missing,0
1,2206.6000,10.0,40000.0,3000.0,-5.0,Missing,0
2,3342.4001,15.0,56000.0,0.0,-5.0,Missing,0
3,3141.4001,12.0,20000.0,0.0,-6.0,Missing,0
4,6327.6000,14.0,40000.0,0.0,-8.0,Missing,0

In [11]:
new_df.shape

(50000, 7)

In [12]:
new_df.to_csv('../data/processed/cleaned_sampled_df.csv', index = False)