In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/carlosm/Documents/GitHubTKH/credit-risk-model/credit-risk-model-stability/Data/feature_definitions.csv")

In [6]:
df.head()

                  Variable                                        Description
0           actualdpd_943P  days past due (dpd) of previous contract (actu...
1  actualdpdtolerance_344P                      dpd of client with tolerance.
2     addres_district_368M                  district of the person's address.
3         addres_role_871L                          role of person's address.
4          addres_zip_823M                           zip code of the address.

In [5]:
df["Description"] = df["Description"].str.lower()

In [15]:
filtered_df = df[df["Description"].str.contains("cli")]

filtered_df

,Variable,Description
1,actualdpdtolerance_344P,dpd of client with tolerance.
11,amtdepositbalance_4809441A,deposit balance of client.
12,amtdepositincoming_4809444A,amount of incoming deposits to client's account.
13,amtdepositoutgoing_4809442A,amount of outgoing deposits from client's acco...
20,applicationcnt_361L,number of applications associated with the sam...
...,...,...
438,sex_738L,gender of the client.
450,totalamount_503A,total amount of active secured credit for a cl...
459,totalsettled_863A,sum of all payments made by the client.
463,typesuite_864L,persons accompanying the client during the loa...
464,validfrom_1069D,date since the client has an active campaign.